<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">


  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
</head>
<body>
<header th:replace="header :: header" />

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-2">
      <div th:replace="nav-menu :: settings-menu(currentMenu='nickname')"></div>
    </div>

    <div class="col-8">
      <div class="row">
        <h2 class="col-sm-12">닉네임 변경</h2>
      </div>

      <div class="alert alert-warning d-flex align-items-center" role="alert">
          닉네임을 변경하면 프로필 페이지 링크도 바뀝니다!
      </div>

      <div class="row mt-3">
        <form class="need-validation col-12" action="#"
              th:action="@{/settings/account}" th:object="${nicknameForm}" method="post" novalidate>
          <div class="form-group">
            <label for="newNickname">새 닉네임</label>
            <input id="newNickname" type="text" th:field="*{newNickname}" class="form-control"
                   aria-describedby="newNicknameHelp" required min="8" max="30">
            <small id="newNicknameHelp" class="form-text text-muted">
              3자 이상 20자 이하로 입력해주세요. (공백없이 숫자와 문자로만 가능합니다.)
            </small>
            <small class="invalid-feedback">닉네임을 입력하세요.</small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('newNickname')}" th:errors="*{newNickname}">닉네임 양식에 맞춰주세요.</small>
          </div>

          <div class="form-group mt-2">
            <button class="btn btn-primary btn-block" type="submit"
                    aria-describedby="submitHelp">변경하기</button>
          </div>
        </form>

        <div class="row mt-5">
          <h2 class="col-sm-12 text-danger">계정 삭제</h2>
        </div>

        <div class="alert alert-danger d-flex align-items-center" role="alert">
            이 계정은 삭제할 수 없습니다.
        </div>
        <form class="need-validation col-12" action="#"
              th:action="@{/settings/nickname}" method="post" novalidate>
          <div class="form-group mt-1">
            <button class="btn btn-outline-danger btn-block" type="submit"
                    aria-describedby="submitHelp">삭제하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer th:replace="footer :: footer" />

<script th:replace="validation.html :: form-validation"></script>
<!--<script src="/node_modules/jquery/dist/jquery.min.js" ></script>-->
<!--<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->

</body>
</html>