<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
</head>
<body>
<header th:replace="header :: header" />

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-2">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/settings/profile}">프로필</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#" th:href="@{/settings/password}">패스워드</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'}? active" href="#" th:href="@{/settings/notifications}">알림</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active" href="#" th:href="@{/settings/tags}">관심 주제</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active" href="#" th:href="@{/settings/zones}">활동 지역</a>
        <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active" href="#" th:href="@{/settings/account}">계정</a>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <h2 class="col-sm-12" th:text="${profile.nickname}">whiteship</h2>
      </div>
      <div class="row mt-3">
        <form class="col-sm-6" action="#"
              th:action="@{/settings/profile}" th:object="${profile}" method="post" novalidate>
          <div class="form-group">
            <label for="bio">한 줄 소개</label>
            <input id="bio" type="text" th:field="*{bio}" class="form-control"
                   placeholder="Hello" aria-describedby="bioHelp" required>
            <small id="bioHelp" class="form-text text-muted">
              35자 이내로 입력해주세요.
            </small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">
              조금 길어요.
            </small>
          </div>

          <div class="form-group">
            <label for="url">링크</label>
            <input id="url" type="url" th:field="*{url}" class="form-control"
                   th:placholder="*{url}" placeholder="https://github.com/waonderboy" aria-describedby="urlHelp" required>
            <small id="urlHelp" class="form-text text-muted">
              깃허브 주소나 블로그 주소를 입력해주세요.
            </small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">
              옳바른 URL이 아닙니다.
            </small>
          </div>

          <div class="form-group">
            <label for="company">직업</label>
            <input id="company" type="text" th:field="*{occupation}" class="form-control"
                   placeholder="어떤 일을 하고 계신가요?" aria-describedby="occupationHelp" required>
            <small id="occupationHelp" class="form-text text-muted">
              직업을 입력해주세요.
            </small>
          </div>

          <div class="form-group">
            <label for="location">활동 지역</label>
            <input id="location" type="text" th:field="*{location}" class="form-control"
                   placeholder="Redmond, WA, USA"
                   aria-describedby="locationdHelp" required>
            <small id="locationdHelp" class="form-text text-muted">
              지역을 입력해주세요.
            </small>
          </div>

          <div class="form-group">
            <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control" />
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit"
                    aria-describedby="submitHelp">수정하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer th:replace="footer :: footer" />

<!--<script src="/node_modules/jquery/dist/jquery.min.js" ></script>-->
<!--<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->

</body>
</html>